{% load static %}
<div class="container-fluid ist">
    <div class="fea">
    <div class="container laast">
      <h6 class="com">COMPANY</h6>
      <h6>About</h6>
      <h6>Jobs</h6>
      <h6>For the Record</h6>
    </div>
    <div class="container laast">
      <h6 class="comm">COMMUNITIES</h6>
      <h6>For Artists</h6>
      <h6>Developers</h6>
      <h6>Investors</h6>
      <h6>Vendors</h6>
    </div>
    
    
    <div class="container laast">
        <h6 class="cs">USEFUL LINKS</h6>
        <h6>Support</h6>
        <h6>Web Player</h6>
        <h6>Free Mobile App</h6>
    
    </div>
    </div>
    <hr style="color: white;">
    <div class="container med">
        <ul class="nav justify-content-end">
        <li class="nav-item sl">
          <a class="nav-link active" aria-current="page" href="#"><img src="{% static 'images/icons8-youtube-48 (2).png' %}" alt=""></a>
        </li>
        <li class="nav-item sl">
          <a class="nav-link" href="#"><img src="{% static 'images/icons8-twitter-48 (2).png' %}" alt=""></a>
        </li>
        <li class="nav-item sl">
          <a class="nav-link" href="#"><img src="{% static 'images/icons8-pinterest-48 (2).png' %}" alt=""></a>
        </li>
        <li class="nav-item sl">
          <a class="nav-link "><img src="{% static 'images/icons8-instagram-48 (1).png' %}" alt=""></a>
        </li>
        <li class="nav-item sl">
          <a class="nav-link "><img src="{% static 'images/icons8-facebook-48 (2).png' %}" alt=""></a>
        </li>
      </ul>

    </div>
    </div> 