{% extends 'base.html' %}
{% load static %}
{% block content %}

 

 <div class="container-fluid">
<video style="width:100%;border-color: white;" autoplay muted loop id="myVideo">
  <source src="{% static 'videos/Untitled design (1).mp4' %}" type="video/mp4">
</video>
</div>



<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content"> 
    <a href="{% url 'app:home' %}">All Products</a>
    {% for cat in category %}
    <a href="{% url 'app:prod_by_cat' cat.slug %}">{{cat.name}}</a>
    {% endfor %}
         
    
   
  </div>
</div>
<div class="container-fluid idn">
  <div class=" d-flex flex-wrap justify-content-center my-0 mx-2 pt-5 mt-5">
   
    <div class="card my-3 mx-3 pi" style="width: 18rem;">
      <a href="#">
        <img src="{% static 'images/cle-de-peau-beaute-uv-protective-cream-spf-50-50ml_19981524_45123130_2048-removebg-preview.png' %}" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h3 style="font-size:20px;" class="card-text">cle-de-peau-beaute</h3>
      </div>
    </div>
    <div class="card my-3 mx-3 pi" style="width: 18rem;">
      <a href="#">
        <img src="{% static 'images/1694093217-chanel-chance-eau-fraiche-parfum-64f9cf7140eff-removebg-preview.png' %}" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h3 style="font-size:20px;" class="card-text">chanel-chance-eau-fraiche</h3>
      </div>
    </div>
    <div class="card my-3 mx-3 pi" style="width: 18rem;">
      <a href="#">
        <img src="{% static 'images/bvlgari-rose-gold-and-diamond-b-zero1-bangle_17684170_37283991_2048-removebg-preview.png' %}" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h3 style="font-size:20px;" class="card-text">Rose-gold-and-diamond</h3>
      </div>
    </div>
    <div class="card my-3 mx-3 pi" style="width: 18rem;">
      <a href="#">
        <img src="{% static 'images/download-removebg-preview.png' %}" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h3 style="font-size:20px;" class="card-text">Monogram-canvas</h3>
      </div>
    </div>
    <div class="card my-3 mx-3 pi" style="width: 18rem;">
      <a href="#">
        <img src="{% static 'images/mac lipstic.webp' %}" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h3 style="font-size:20px;" class="card-text">MAC Lipstic</h3>
      </div>
    </div>
  
   
  </div>
  </div> 










    <div class="container-fluid im">
      <h1 style="font-weight:bolde;margin-left:8%;padding-top:3%">

        <div class="waviy">
          <span style="--i:1"><b>C</b></span>
          <span style="--i:2"><b>h</b></span>
          <span style="--i:3"><b>a</b></span>
          <span style="--i:4"><b>n</b></span>
          <span style="--i:5"><b>e</b></span>
          <span style="--i:6"><b>l</b></span>
          <span style="--i:1"> - </span>


          <span style="--i:8"><b>C</b></span>
          <span style="--i:8"><b>o</b></span>
          <span style="--i:8"><b>c</b></span>
          <span style="--i:8"><b>o</b></span>
          <span style="--i:4"> - </span>

          <span style="--i:1"><b>M</b></span>
          <span style="--i:2"><b>a</b></span>
          <span style="--i:3"><b>d</b></span>
          <span style="--i:4"><b>e</b></span>
          <span style="--i:5"><b>m</b></span>
          <span style="--i:6"><b>o</b></span>
          <span style="--i:7"><b>i</b></span>
          <span style="--i:8"><b>s</b></span>
          <span style="--i:8"><b>e</b></span>
          <span style="--i:8"><b>l</b></span>
          <span style="--i:8"><b>l</b></span>
          <span style="--i:8"><b>e</b></span>

      </h1>
      <h3 style="padding-left: 12%;margin-top:2%;">Simplicity is the keynote of all true elegance</h3>

      <button style="color: white;" class="sp"><b>Shop now</b></button>
      <div class="container per d-flex">
        <div class="my-5 ms-3">
          <video style="border-color: white;width:800px;margin-left:0%;padding-left:3%;" autoplay muted loop
            id="myVideo">
            <source src="{% static 'videos/WhatsApp Video 2024-02-11 at 9.21.12 PM.mp4' %}" type="video/mp4">
          </video>
        </div>


      </div>
    </div>
  </div>


  <div class="container-fluid idn">
    <div class=" d-flex flex-wrap justify-content-center my-0 mx-4 pt-5">

      {% for i in data %}
      <a href="{% url 'app:details' i.id %}">
        <div class="card my-3 mx-3 pi" style="width: 18rem;">

          <img src="{{i.image.url}}" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h3 style="font-size:20px;" class="card-text">{{i.name}}</h3>
        <p>{{i.price}}</p>
      </div>
    </div>
    </a>
    {% endfor %}
  </div>
</div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class=" d-flex flex-wrap justify-content-center my-0 mx-2 pt-5 mt-5">
        <div class="card my-3 mx-3 pi" style="width: 18rem;">
          <a href="#">

            <img class="d-block w-100" src="{% static 'images/bvlgari-rose-gold-and-diamond-b-zero1-bangle_17684170_37283991_2048-removebg-preview.png' %}" alt="First slide">
          </a>
          </div>
          <div class="card my-3 mx-3 pi" style="width: 18rem;">
            <a href="#">
  
              <img class="d-block w-100" src="{% static 'images/bvlgari-rose-gold-and-diamond-b-zero1-bangle_17684170_37283991_2048-removebg-preview.png' %}" alt="First slide">
            </a>
            </div>
            <div class="card my-3 mx-3 pi" style="width: 18rem;">
              <a href="#">
    
                <img class="d-block w-100" src="{% static 'images/bvlgari-rose-gold-and-diamond-b-zero1-bangle_17684170_37283991_2048-removebg-preview.png' %}" alt="First slide">
              </a>
              </div>
            <div class="card my-3 mx-3 pi" style="width: 18rem;">
                <a href="#">
      
                  <img class="d-block w-100" src="{% static 'images/bvlgari-rose-gold-and-diamond-b-zero1-bangle_17684170_37283991_2048-removebg-preview.png' %}" alt="First slide">
                </a>
                </div>
    
  




    </div>
  </div>
    <div class="carousel-item">
      <div class=" d-flex flex-wrap justify-content-center my-0 mx-2 pt-5 mt-5">
       <div class="card my-3 mx-3 pi" style="width: 18rem;">
        <a href="#">

          <img class="d-block w-100" src="{% static 'images/bvlgari-rose-gold-and-diamond-b-zero1-bangle_17684170_37283991_2048-removebg-preview.png' %}" alt="First slide">
        </a>
        </div>

        <div class="card my-3 mx-3 pi" style="width: 18rem;">
          <a href="#">
  
            <img class="d-block w-100" src="{% static 'images/cle-de-peau-beaute-uv-protective-cream-spf-50-50ml_19981524_45123130_2048-removebg-preview.png' %}" alt="First slide">
          </a>
          </div>

          <div class="card my-3 mx-3 pi" style="width: 18rem;">
            <a href="#">
    
              <img class="d-block w-100" src="{% static 'images/cle-de-peau-beaute-uv-protective-cream-spf-50-50ml_19981524_45123130_2048-removebg-preview.png' %}" alt="First slide">
            </a>
            </div>
     </div>
    </div>
    <div class="carousel-item">
      <div class=" d-flex flex-wrap justify-content-center my-0 mx-2 pt-5 mt-5">
        <div class="card my-3 mx-5 pi" style="width: 18rem;">
         <a href="#">
 
           <img class="d-block w-100" src="{% static 'images/bvlgari-rose-gold-and-diamond-b-zero1-bangle_17684170_37283991_2048-removebg-preview.png' %}" alt="First slide">
         </a>
         </div>
         <div class="card my-3 mx-3 pi" style="width: 18rem;">
          <a href="#">
  
            <img class="d-block w-100" src="{% static 'images/bvlgari-rose-gold-and-diamond-b-zero1-bangle_17684170_37283991_2048-removebg-preview.png' %}" alt="First slide">
          </a>
          </div>
          <div class="card my-3 mx-3 pi" style="width: 18rem;">
            <a href="#">
    
              <img class="d-block w-100" src="{% static 'images/bvlgari-rose-gold-and-diamond-b-zero1-bangle_17684170_37283991_2048-removebg-preview.png' %}" alt="First slide">
            </a>
            </div>
            <div class="card my-3 mx-3 pi" style="width: 18rem;">
              <a href="#">
      
                <img class="d-block w-100" src="{% static 'images/bvlgari-rose-gold-and-diamond-b-zero1-bangle_17684170_37283991_2048-removebg-preview.png' %}" alt="First slide">
              </a>
              </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>






{% endblock %}